.contacts {
    margin-top: 30px;
  }
  
  .contacts p {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  
  .contacts a {
    color: #333;
    margin-left: 8px;
  }
  
  .contacts a svg {
    margin-right: 8px;
    font-size: 1.5rem;
  }
  